
@{
    Layout = null;
}
@model Ejercicio1.Models.ClsEditarVM

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PersonaModificada</title>
</head>
<body>
    <div>
        <p>Id: @Model.IdPersona</p>
        <p>Nombre: @Model.Nombre</p>
        <p>Apellidos: @Model.Apellidos</p>
        <p>Fecha nacimiento: @Model.FechaNac</p>
        <p>Direccion: @Model.Direccion</p>
        <p>Telefono: @Model.Telefono</p>
    </div>
</body>
</html>
