
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <div>
        <h1>Hola mundo desde la vista</h1>
        @Html.ActionLink("Ver listado de Productos", "ListadoProductos", "Productos")


        <p>Hola, son las @DateTime.Now.Hour:@DateTime.Now.Minute</p>

        @{
            int hora = @DateTime.Now.Hour, minutos = @DateTime.Now.Minute;
        }

        @if (hora > 12)
        {
            <p>Hemos pasado de las 12 son las @hora:@minutos</p>
        }
        else
        {
            <p> No hemos pasado de las 12 son las @hora: @minutos</p>
        }
    </div>

    <table border="1">
        @for (int filas = 1; filas <= 12; filas++)
            {

            <tr>
                @for (int columna = 1; columna <= 10; columna++)
                {
                   
                    <td>@filas * @columna = @(filas * columna)</td>
                }
            </tr>
         }
            
    </table>
  


</body>
</html>
